.bg {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
}

.img {
  width: 400px;
  margin: 30px;
}

.c1 {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 50vw;
  background-color: #ffc533;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100vh;
}

.chead {
  background-color: #ffbf1f;
  padding: 30px;
  color: #334155;
  font-size: 45px;
}

.c2 {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}

.c2head {
  color: #ffc533;
  font-size: 38px;
  padding-bottom: 40px;
}

.c2sc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.in {
  padding: 10px;
  font-size: 20px;
  color: #1e293b;
  width: 400px;
  outline: none;
  border-radius: 10px;
}

.btn {
  color: #272c47;
  background-color: #ffc533;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
}

.word {
  color: #0f172a;
  font-weight: bold;
  font-size: 24px;
}

.ul {
  list-style-type: none;
}
